@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: font-serif;
  margin: 0;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
